.learning {
    /* background-color: #f0f8ff; */
    /* Alice Blue */
}

.learningContainer {
    /* background-color: #fff0f5; */
    /* Lavender Blush */
    padding: 2rem;
}

.headingBody {
    /* background-color: #f5f5dc; */
    /* Beige */
}

.headingBlock {
    /* background-color: var(--secondaryColor); */
    /* Light Goldenrod Yellow */
}

.headingBox {
    /* background-color: #d8bfd8; */
    width: 100%;
    height: auto;
    /* Thistle */
}

.headingBox h1 {
    /* background-color: #ffb6c1; */
    /* Light Pink */
    /* font-family: var(--ffprimary);
    color: var(--lightColor);
    font-size: 5rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem; */
    padding: 1rem 0rem;
}

.learningBody {
    /* background-color: #ffe4e1; */
    /* Misty Rose */
    gap: 3rem;
}

.learningBlock {
    /* background-color: #e0ffe0; */
    /* Minty Light Green */
    padding: 3rem 0rem;
}

.learningBox {
    background-color: var(--tertiaryColor);
    width: 100%;
    height: 100%;
    border: var(--lightColor) solid 0.5rem;
    padding: 2rem;
    /* Peach Puff Tint */
}

.cardHeader {
    /* background-color: #dda0dd; */
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: start;
    margin-bottom: 1rem;
    /* Plum */
}

.cardHeader h2 {
    /* background-color: #98fb98; */
    /* font-family: var(--ffprimary);
    color: var(--secondaryColor);
    font-size: 5rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.1rem; */
    /* Pale Green */
}

.cardHeader hr {
    background-color:var(--darkColor);
    width: 30%;
    height: 0.2rem;
    border: none;
    margin-bottom: 1rem;
    /* border: none; */
    /* Burly Wood */
}

.cardHeader p {
    /* background-color: #afeeee; */
    /* Pale Turquoise */
    /* font-family: var(--ffsecondary);
    color: var(--darkColor);
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.1rem; */
    /* margin-bottom: 1rem; */
}

.cardMain {
    /* background-color: #f08080; */
    /* Light Coral */
    width: 100%;
    height: 100%;
}

.cardMain p {
    /* background-color: #afeeee; */
    /* Pale Turquoise */
    /* font-family: var(--ffsecondary); */
    /* color: var(--darkColor); */
    font-size: 2rem;
    /* font-weight: 500; */
    /* line-height: 1.5; */
    /* letter-spacing: 0.1rem; */
    margin-bottom: 1rem;
}